.nav-ul {
  padding: 5px;
  margin: 5px;
  background-color: #dd0000;
}

.nav-ul li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.reg-div {
  display: inline-grid;
  margin-left: 38%;
  margin-top: 6%;
  border: 2px solid #dd0000;
  border-radius: 5%;
  border-width: 15px;
  background-color: #dd0000;
}

.reg-div span{
  color: aliceblue;
  font-weight: bold;
}

.reg-div-label {
  display: block;
  margin: 20px;
  padding: 8px;
  width: 250px;
  border-radius: 7px;
  text-decoration: solid;
}

.login-div {
  display: inline-grid;
  margin-left: 38%;
  margin-top: 7%;
  border: 2px solid #dd0000;
  border-radius: 5%;
  border-width: 15px;
  background-color: #dd0000;
}

.login-div span{
  color: aliceblue;
  font-weight: bold;
}

.login-div-label {
  display: block;
  margin: 20px;
  padding: 8px;
  width: 250px;
  border-radius: 7px;
  text-decoration: solid;
}

.sub-btn {
  margin: 3px;
  padding: 7px;
  width: 100px;
  background-color: ghostwhite;
  border: 2.5px solid;
  cursor: pointer;
  border-radius: 5px;
}

.sub-btn span {
  color: rgb(0, 0, 0);
  font-weight: bold;
}